.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 72px;
  border-bottom: 2px solid rgba(35, 34, 36, 0.1);
  padding: 0 16px;
}

.header__searchbar {
  height: 48px;
  width: 220px;
  padding: 12px;
  border: none;
  border-bottom: 2px solid rgba(35, 34, 36, 0.1);
  background: none;
}

.header__searchbar:hover {
  border-radius: 12px;
}
