.card {
  border: 1px solid rgba(35, 34, 36, 0.1);
  width: 100%;
  border-radius: 8px;
  padding: 24px;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(35, 34, 36, 0.1);
  padding: 4px 0;
}

.card__title {
  font-size: 20px;
  font-weight: 800;
}

.card__body {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(35, 34, 36, 0.1);
}

.card__subtitle {
  font-size: 16px;
  font-weight: 800;
  padding-top: 8px;
}

.card__list {
  margin: 0;
  padding: 12px 0;
}

.card__list__item {
  list-style-type: none;
  color: gray;
  font-weight: 400;
}

.card__footer {
  padding-top: 12px;
}
