.card {
  width: 100%;
  border-radius: 8px;
  padding: 24px;
  background-color: rgba(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(35, 34, 36, 0.1);
  padding: 4px 0;
}

.card__title {
  font-size: 20px;
  font-weight: 800;
}

.card__body {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(35, 34, 36, 0.1);
}

.card__subtitle {
  font-size: 16px;
  font-weight: 800;
  padding-top: 8px;
}

.card__list {
  margin: 0;
  padding: 12px 0;
}

.card__list__item {
  list-style-type: none;
  color: gray;
  font-weight: 400;
}

.card__footer {
  padding-top: 12px;
}
