.form {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 560px;
  padding: 16px;
  gap: 8px;
}

.form__style {
  border: 1px solid rgba(35, 34, 36, 0.1);
  border-radius: 12px;
  background-color: rgba(251, 252, 219, 0.2);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.form__body {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  gap: 16px;
}

.form__body__input {
  height: 48px;
  padding: 12px;
}

.form__score {
  display: grid;
  grid-template-columns: 120px 60px 120px 60px;
  column-gap: 8px;
  row-gap: 24px;
  padding: 12px 16px;
}

.form__score__input {
  height: 36px;
  width: 60px;
  border-radius: 8px;
  padding: 12px;
}

.form__footer {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.form__footer__button {
  height: 48px;
  width: 50%;
  cursor: pointer;
}

.form__footer__button:hover,
.form__body__input:hover,
.form__score__input:hover {
  background-color: rgb(255, 243, 240);
  box-shadow: rgb(233, 222, 250) 0px 0px 0px 3px, #deebc4 0px 0px 0px 6px,
    #fff3f0 0px 0px 0px 9px;
}

.form:hover {
  box-shadow: rgb(233, 222, 250) 0px 0px 0px 3px, #deebc4 0px 0px 0px 6px,
    #fff3f0 0px 0px 0px 9px;
}
