@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Figtree', sans-serif;
  color: rgb(35, 34, 36);
  height: 100vh;
  background-color: rgba(245, 247, 250, 0.9);
}

* {
  box-sizing: border-box;
}
