html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: rgb(35, 34, 36);
  height: 100vh;
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(35, 34, 36);
    background: rgb(248, 250, 252);
  }
} */
